In [1]:
# Dependencies & Setup
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# Set Executable Path & Initialize Chrome Browser (Mac)
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

# Set Executable Path & Initialize Chrome Browser (Windows)
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless = False)

In [4]:
# Visit the NASA Mars News Site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

# Wait 5 seconds before running the next command
time.sleep(5)

# Use BeautifulSoup to write into HTML
html = browser.html
bs = BeautifulSoup(html, "html.parser")

In [5]:
# Scrape title and paragraph
news_title = bs.find("div", class_ = "list_text").find('div', class_ = "content_title").text
news_p = bs.find("div", class_ = "article_teaser_body").text
print(f"Title: {news_title}")
print(f"Paragraph: {news_p}")

Title: Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch
Paragraph: A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff.

In [6]:
# Set Executable Path & Initialize Chrome Browser (Mac)
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

# Set Executable Path & Initialize Chrome Browser (Windows)
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless = False)

In [7]:
# Visit JPL Featured Space Image
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

# Wait 5 seconds before running the next command
time.sleep(5)

# Use BeautifulSoup to write into HTML
html = browser.html
bs = BeautifulSoup(html, "html.parser")

In [8]:
# Scrape image url
image_url = bs.find("img", class_ = "thumb")["src"]
featured_image_url = "https://www.jpl.nasa.gov" + image_url
print(f"Featured Image URL: {featured_image_url}")

Featured Image URL: https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23929-640x350.jpg

In [9]:
# Set Executable Path & Initialize Chrome Browser (Mac)
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

# Set Executable Path & Initialize Chrome Browser (Windows)
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless = False)

In [10]:
# Visit the Mars Weather Twitter Account
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

# Wait 5 seconds before running the next command
time.sleep(5)

# Use BeautifulSoup to write into HTML
html = browser.html
bs = BeautifulSoup(html, "html.parser")

In [11]:
# Scrape first tweet
first_tweet = bs.find("div", class_ = "css-1dbjc4n").find("div", class_ = "css-901oao r-jwli3a r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0").find("span", class_ = "css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0").text
first_tweet

'InSight sol 527 (2020-05-20) low -93.0ºC (-135.5ºF) high 0.8ºC (33.4ºF)\nwinds from the SW at 4.7 m/s (10.4 mph) gusting to 18.9 m/s (42.2 mph)\npressure at 7.10 hPa'

In [12]:
# Visit the Mars Facts Webpage and use Pandas to convert the data to an HTML table string
mars_df = pd.read_html("https://space-facts.com/mars")[0]
mars_df.columns = ["description", "value"]
mars_df.set_index(["description"], inplace = True)
mars_df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers